@model TrucksWeighingWebApp.ViewModels.TruckRecordCreateViewModel

<h5>Add new truck</h5>

<form asp-action="Create" method="post" class="row g-2 align-items-end">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="InspectionId" />
    <input type="hidden" name="sortOrder" value="@(ViewData["SortOrder"])" />
    <input type="hidden" name="page" value="@(ViewData["Page"])" />
    <input type="hidden" name="pageSize" value="@(ViewData["PageSize"])" />

    <div class="col-lg-2 position-relative">
        <label asp-for="PlateNumber" class="form-label"></label>
        <input name="PlateNumber" id="plate" class="form-control" autocomplete="off"/>
        <ul id="plate-suggestions" 
            class="list-group position-absolute w-100"
            style="z-index:1000; max-height:200px; overflow-y:auto; display:none;">
        </ul>

        @* <label asp-for="PlateNumber" class="form-label"></label>
        <input asp-for="PlateNumber" class="form-control"/>
        <span asp-validation-for="PlateNumber" class="text-danger d-none"></span> *@
    </div>

    <div class="col-6 col-lg-2">
        <label asp-for="InitialWeight" class="form-label"></label>
        <input asp-for="InitialWeight" class="form-control" type="number" step="0.001" />
        <span asp-validation-for="InitialWeight" class="text-danger"></span>
    </div>

    <div class="col-6 col-lg-2">
        <label asp-for="InitialWeightAtUtc" class="form-label"></label>
        <input asp-for="InitialWeightAtUtc" class="form-control" type="datetime-local" value="@Model.InitialWeightAtUtc?.ToString("yyyy-MM-dd HH:mm")" />
        <span asp-validation-for="InitialWeightAtUtc" class="text-danger"></span>
    </div>

    <div class="col-6 col-lg-2">
        <label asp-for="FinalWeight" class="form-label"></label>
        <input asp-for="FinalWeight" class="form-control" type="number" step="0.001" />
        <span asp-validation-for="FinalWeight" class="text-danger"></span>
    </div>

    <div class="col-6 col-lg-2">
        <label asp-for="FinalWeightAtUtc" class="form-label"></label>
        <input asp-for="FinalWeightAtUtc" class="form-control" type="datetime-local" value="@Model.FinalWeightAtUtc?.ToString("yyyy-MM-dd HH:mm")" />
        <span asp-validation-for="FinalWeightAtUtc" class="text-danger"></span>
    </div>

    <div class="col-lg-2">
        <div class="row g-1">
            <div class="col-6">
                <button type="submit" 
                        class="btn btn-primary w-100"
                        onclick="this.disabled = true; setTimeout(() => this.form.submit(), 300);">                        
                        Add
                </button>
            </div>
            <div class="col-6">
                <a class="btn btn-secondary w-100" asp-action="Index" asp-route-inspectionId="@Model.InspectionId">Cancel</a>
            </div>
        </div>
        @* <button class="btn btn-primary w-100">Add</button> *@
    </div>
</form>