@using TrucksWeighingWebApp.ViewModels
@using TrucksWeighingWebApp.Infrastructure.TimeZone
@using TrucksWeighingWebApp.Services.Export
@model TrucksWeighingWebApp.ViewModels.TruckRecordIndexViewModel
@* @model IEnumerable<TrucksWeighingWebApp.Models.TruckRecord> *@

@{
    ViewData["Title"] = Model.Inspection.Vessel;
}

<div class="row">
    <div class="col-7">
        <h1 id="anchor-trucks-list">Trucks List</h1>
    </div>
    <div class="col-5 d-flex justify-content-end align-items-center">
        <a href="#anchor-results">Results</a>
    </div>
</div>


<hr />

<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb small mb-0">
        <li class="breadcrumb-item">
            <a asp-controller="Inspections" asp-action="Index">Inspections</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="TruckRecords" asp-action="Status" asp-route-inspectionId="@Model.Inspection.Id">Trucks Status</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Trucks List</li>
    </ol>
</nav>


@if (Model.Edit == null)
{
    @await Html.PartialAsync(
        "_TruckRecordCreateForm", 
        Model.New, 
        new ViewDataDictionary(ViewData)
        {
            ["SortOrder"] = Model.SortOrder,
            ["Page"] = Model.Page,
            ["PageSize"] = Model.PageSize
        })
}
else
{
    @await Html.PartialAsync(
        "_TruckRecordEditForm", 
        Model.Edit, new ViewDataDictionary(ViewData)
        {
            ["SortOrder"] = Model.SortOrder,
            ["Page"] = Model.Page,
            ["PageSize"] = Model.PageSize
        })
}

@if (TempData["DeleteWarning"] is string deleteWarning)
{
    <div class="alert alert-warning mt-2">@deleteWarning</div>
}


<div class="row gy-2 align-items-center my-2">

    <!-- To return: ### trucks -->
    <div class="col-5">
        @{
            var n = Model.Inspection.TruckRecords.Count(t => t.InitialWeightAtUtc != null && t.FinalWeightAtUtc == null);
        }
        <h6 class="m-0">To return: @n truck@(n == 1 ? "" : "s")</h6>
    </div>

    <!-- Trucks per page -->
    <div class="col-7">


        <form method="get" class="mb-2 mt-2 d-flex gap-2 align-items-center justify-content-end">
            <input type="hidden" name="inspectionId" value="@Model.Inspection.Id" />
            <input type="hidden" name="sortOrder" value="@Model.SortOrder" />
            <input type="hidden" name="page" value="1" />

            <label class="form-label m-0" for="pageSize">Trucks per page:</label>
            <select id="pageSize"
                    name="pageSize"
                    class="form-select form-select-sm"
                    style="width:auto"
                    onchange="this.form.submit()">
                @foreach (var option in Model.PageSizeOptions)
                {
                    <option value="@option.Value"
                            selected="@(option.Value == Model.PageSize ? "selected" : null)">
                        @option.Label
                    </option>
                }
            </select>
        </form>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class ="text-nowrap">
                    #
                    <a  asp-action="Index"
                        asp-route-inspectionId="@Model.Inspection.Id"
                        asp-route-sortOrder="@(Model.SortOrder == SortOrder.Ascending ? SortOrder.Descending : SortOrder.Ascending)"
                        asp-route-page="1"
                        asp-route-pageSize="@Model.PageSize">
                        
                        
                        @if (Model.SortOrder == SortOrder.Ascending)
                        {
                            <i class="bi bi-sort-numeric-up"></i>
                        }
                        else
                        {
                            <i class="bi bi-sort-numeric-down"></i>
                        }
                    </a>                    
                </th>
                <th class="text-nowrap">Plate Number</th>
                <th class="text-nowrap">Initial Weight</th>
                <th class="text-nowrap">Time</th>
                <th class="text-nowrap">Final Weight</th>
                <th class="text-nowrap">Time</th>
                <th class="text-nowrap">Net weight</th>
                <th class="text-nowrap">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                var tz = Tz.Get(Model.Inspection.TimeZoneId);
                // var tz = TimeZoneInfo.FindSystemTimeZoneById(Model.Inspection.TimeZoneId);

                // var totalRows = Model.TruckRecords.Count;
                // var asc = Model.SortOrder == SortOrder.Ascending;
                // var idx = 0;



                foreach (var item in Model.TruckRecords)
                {
                    // var i = asc ? (idx + 1) : (totalRows - idx);

                    <tr>
                        <td class="text-nowrap">@item.SerialNumber</td>
                        <td class="text-nowrap">@item.PlateNumber</td>
                        <td class="text-nowrap">@item.InitialWeight?.ToString("F3")</td>
                        <td class="text-nowrap">
                            @{
                                if (item.InitialWeightAtUtc.HasValue)
                                {                                    
                                    var local = Tz.FromUtc(item.InitialWeightAtUtc.Value, tz);
                                    @local.ToString("yyyy-MM-dd HH:mm")

                                }                                
                            }                                
                        </td>
                        <td class="text-nowrap">@item.FinalWeight?.ToString("F3")</td>
                        <td class="text-nowrap">
                            @{
                                if (item.FinalWeightAtUtc.HasValue)
                                {                                    
                                    var local = Tz.FromUtc(item.FinalWeightAtUtc.Value, tz);
                                    @local.ToString("yyyy-MM-dd HH:mm")

                                }
                            }                            
                        </td>
                        <td class="text-nowrap">@item.NetWeight.ToString("F3")</td>
                        <td>
                            <a 
                                asp-action="Index" 
                                asp-route-inspectionId="@Model.Inspection.Id" 
                                asp-route-editId="@item.Id"                                
                                ><i class="bi bi-pencil me-2"></i></a> 
                            <form 
                                asp-action="Delete" 
                                method="post" 
                                class="d-inline" 
                                onsubmit="return confirm('Delete this record?');"
                                >
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.Id"/>
                                <input type="hidden" name="inspectionId" value="@Model.Inspection.Id"/>
                                <button type="submit" class="btn btn-link p-0 align-baseline"><i class="bi bi-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    // idx++;
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">Total, mt</th>
                <td class="text-nowrap">
                    <a data-bs-toggle="collapse" href="#collapseShowPeriod" role="button" aria-expanded="false" aria-controls="collapseShowPeriod">Show period from</a>
                </td>
                <td></td>
                <td class="text-nowrap">
                    <a data-bs-toggle="collapse" href="#collapseShowPeriod" role="button" aria-expanded="false" aria-controls="collapseShowPeriod">Show period to</a>
                </td>
                <th>@Model.Inspection.WeighedTotalWeight.ToString("F3")</th>
                <td></td>

            </tr>
        </tfoot>
    </table>
</div>

<!-- Show period, trucks, weight -->
@{
    bool fromInvalid = ViewData.ModelState["weighingRange.FromLocal"]?.Errors.Any() == true;
    bool toInvalid = ViewData.ModelState["weighingRange.ToLocal"]?.Errors.Any() == true;

    bool keepOpen = !ViewData.ModelState.IsValid || Model.WeighRangeFilter.FromLocal.HasValue == true || Model.WeighRangeFilter.ToLocal.HasValue == true;
}

<div class="collapse @(keepOpen ? "show" : "")" id="collapseShowPeriod">        

    <form method="get"
          action="@($"{Url.Action("Index","TruckRecords")}#anchor-intermediate-results")"
          class="row g-2 align-items-end justify-content-end">
        <input type="hidden" name="inspectionId" value="@Model.Inspection.Id" />
        <input type="hidden" name="sortOrder" value="@Model.SortOrder" />
        <input type="hidden" name="page" value="1" />
        <input type="hidden" name="pageSize" value="@Model.PageSize" />               

        <div class="col-6 col-lg-auto">
            <label class="form-label m-0" for="wr_FromLocal">From</label>
            <input type="datetime-local"
                   class="form-control"
                   id="wr_FromLocal"
                   name="weighingRange.FromLocal"
                   value="@(Model.WeighRangeFilter?.FromLocal?.ToString("yyyy-MM-ddTHH:mm") ?? "")" />
        </div>

        <div class="col-6 col-lg-auto">
            <label class="form-label m-0" for="wr_ToLocal">To</label>
            <input type="datetime-local"
                   class="form-control"
                   id="wr_ToLocal"
                   name="weighingRange.ToLocal"
                   value="@(Model.WeighRangeFilter?.ToLocal?.ToString("yyyy-MM-ddTHH:mm") ?? "")" />
        </div>


        <div class="col-6 col-lg-auto">
            <button type="submit" class="btn btn-primary w-100">Apply</button>
        </div>

        <div class="col-6 col-lg-auto">
            <a asp-action="Index" asp-route-inspectionId="@Model.Inspection.Id" class="btn btn-secondary w-100">Cancel</a>
        </div>

        <div class="col-12">
            @Html.ValidationSummary(false, "", new { @class = "text-danger small mb-2" })
        </div>
    </form>   

</div>


@if (ViewData.ModelState.IsValid && (Model.WeighRangeFilter.FromLocal.HasValue || Model.WeighRangeFilter.ToLocal.HasValue))
{
    <h5 id="anchor-intermediate-results" class="mt-2">Selected period results:</h5>
    <p>
        From @(Model.WeighRangeFilter.FromLocal?.ToString("yyyy-MM-dd HH:mm") ?? " the beginning ") till @(Model.WeighRangeFilter.ToLocal?.ToString("yyyy-MM-dd HH:mm") ?? " the latest entry")<br />
        <strong>@Model.PeriodStats.Weight.ToString("F3")</strong> mt in <strong>@Model.PeriodStats.Trucks</strong> trucks for period<br />
    </p>
}


@if (Model.TotalPages > 1)
{
    var window = 2;
    var start = Math.Max(1, Model.Page - window);
    var end = Math.Min(Model.TotalPages, Model.Page + window);

    <nav aria-label="Trucks pagination" class="mt-3">
        <ul class="pagination justify-content-center">

            <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-inspectionId="@Model.Inspection.Id"
                   asp-route-sortOrder="@(Model.SortOrder == SortOrder.Ascending ? SortOrder.Descending : SortOrder.Ascending)"
                   asp-route-page="1"
                   asp-route-pageSize="@Model.PageSize">
                    First
                </a>
            </li>

            <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-inspectionId="@Model.Inspection.Id"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-page="@(Model.Page - 1)"
                   asp-route-pageSize="@Model.PageSize">
                    Prev
                </a>
            </li>

            @for (var p = start; p <= end; p++)
            {
                <li class="page-item @(p == Model.Page ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-inspectionId="@Model.Inspection.Id"
                       asp-route-sortOrder="@Model.SortOrder"
                       asp-route-page="@p"
                       asp-route-pageSize="@Model.PageSize">
                        @p
                    </a>
                </li>
            }

            <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-inspectionId="@Model.Inspection.Id"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-page="@(Model.Page + 1)"
                   asp-route-pageSize="@Model.PageSize">
                    Next
                </a>
            </li>

            <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-inspectionId="@Model.Inspection.Id"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-page="@(Model.TotalPages)"
                   asp-route-pageSize="@Model.PageSize">
                    Last
                </a>
            </li>

        </ul>
    </nav>
}


<h5 id="anchor-results" class="mt-2">Results:</h5>
<p>
    B/L figure: <strong>@Model.Inspection.DeclaredTotalWeight?.ToString("F3")</strong> mt<br />
    Trucks weight control figure: <strong>@Model.Inspection.WeighedTotalWeight.ToString("F3")</strong> mt<br />
    Difference: <strong>@Model.Inspection.DifferenceWeight.ToString("F3")</strong> mt
    or <strong>@Model.Inspection.DifferencePercent.ToString("F3")</strong> %<br />
</p>


<div class="d-flex justify-content-between align-items-center">
    <div>
        <a href="#anchor-trucks-list">To the top</a>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exportPdfModal">Export to PDF</button>
        @* <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exportExcelModal">Export to Excel</button> *@
    </div>

    
</div>


<!-- Modal Export to PDF -->
<div class="modal fade" id="exportPdfModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Export to PDF</h5>
                <button type="button" class="btn-close btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form asp-action="ExportToPdf" method="get">

                <input type="hidden" name="InspectionId" value="@Model.Inspection.Id" />

                <div class="modal-body">

                    <!-- Show times? -->
                    @* <div class="form-check form-switch">
                        <input type="checkbox" 
                            name="IncludeTimes" 
                            class="form-check-input" 
                            role="switch" 
                            id="includeTimesPdf"
                            value="true" 
                            checked />
                        <input type="hidden" name="IncludeTimes" value="false" />
                        
                        <label class="form-check-label" for="includeTimesPdf">Show times?</label>
                    </div> *@

                    <!-- Export All? -->
                    <div class="form-check form-switch">
                        <input type="checkbox" 
                            name="PrintAll" 
                            class="form-check-input"
                            role="switch"
                            id="printAllPdf"
                            value="true" 
                            checked
                            onchange="document.getElementById('dateTimeRangePdf').classList.toggle('d-none',this.checked);" />
                        <input type="hidden" name="PrintAll" value="false" />                        
                        <label class="form-check-label" for="printAllPdf">Export all?</label>
                    </div>

                    <div id="dateTimeRangePdf" class="row g-2 mt-2 d-none">
                        <div class="col-6">
                            <label class="form-label mb-1" for="rangeFromPdf">From</label>
                            <input id="rangeFromPdf"
                                   type="datetime-local"
                                   name="WeighRangeFilter.FromLocal"
                                   class="form-control"
                                   value="@(Model.WeighRangeFilter?.FromLocal?.ToString("yyyy-MM-ddTHH\\:mm") ?? string.Empty)" />
                        </div>
                        <div class="col-6">
                            <label class="form-label mb-1" for="rangeToPdf">To</label>
                            <input id="rangeToPdf"
                                   type="datetime-local"
                                   name="WeighRangeFilter.ToLocal"
                                   class="form-control"
                                   value="@(Model.WeighRangeFilter?.ToLocal?.ToString("yyyy-MM-ddTHH\\:mm") ?? string.Empty)" />
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Export</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>




<!-- Modal Export to Excel -->
@* <div class="modal fade" id="exportExcelModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Export to Excel</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <form asp-action="ExportToExcel" method="get">
                
                <input type="hidden" name="InspectionId" value="@Model.Inspection.Id" />

                <div class="modal-body">

                    <!-- Show times? -->
                    <div class="form-check form-switch">
                        <input type="hidden" name="IncludeTimes" value="false" />
                        <input class="form-check-input" type="checkbox" role="switch" name="IncludeTimes" id="includeTimesExcel" value="true" checked />
                        <label class="form-check-label" for="includeTimesExcel">Show times?</label>
                    </div>

                    <!-- Export All? -->
                    <div class="form-check form-switch">
                        <input type="hidden" name="PrintAll" value="false" />
                        <input class="form-check-input" type="checkbox" role="switch" name="PrintAll" id="printAllExcel" value="true" checked
                               onchange="document.getElementById('dateTimeRangeExcel').classList.toggle('d-none',this.checked);" />
                        <label class="form-check-label" for="printAllExcel">Export all?</label>
                    </div>

                    <div id="dateTimeRangeExcel" class="row g-2 mt-2 d-none">
                        <div class="col-6">
                            <label class="form-label mb-1" for="rangeFromExcel">From</label>
                            <input id="rangeFromExcel"
                                   type="datetime-local"
                                   name="WeighRangeFilter.FromLocal"
                                   class="form-control"
                                   value="@(Model.WeighRangeFilter?.FromLocal?.ToString("yyyy-MM-ddTHH\\:mm") ?? string.Empty)" />
                        </div>
                        <div class="col-6">
                            <label class="form-label mb-1" for="rangeToPdf">To</label>
                            <input id="rangeToPdf"
                                   type="datetime-local"
                                   name="WeighRangeFilter.ToLocal"
                                   class="form-control"
                                   value="@(Model.WeighRangeFilter?.ToLocal?.ToString("yyyy-MM-ddTHH\\:mm") ?? string.Empty)" />
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Export</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>
 *@



<!-- ??? print settings ??? -->
<div class="collapse" id="collapsePrintPeriod">

    <form method="get" class="row align-items-end justify-content-end">
        @* @Html.AntiForgeryToken() *@
        <input type="hidden" name="inspectionId" value="@Model.Inspection.Id" />

        <input type="hidden" name="sortOrder" value="@Model.SortOrder" />
        <input type="hidden" name="page" value="1" />
        <input type="hidden" name="pageSize" value="@Model.PageSize" />

        <div class="col-auto">
            <label class="form-label m-0" for="wr_FromLocal_Print">From</label>
            <input type="datetime-local"
                   class="form-control"
                   id="wr_FromLocal_Print"
                   name="weighingRange.FromLocal"
                   value="@(Model.WeighRangeFilter?.FromLocal?.ToString("yyyy-MM-ddTHH:mm") ?? "")" />
        </div>

        <div class="col-auto">
            <label class="form-label m-0" for="wr_ToLocal_Print">To</label>
            <input type="datetime-local"
                   class="form-control"
                   id="wr_ToLocal_Print"
                   name="weighingRange.ToLocal"
                   value="@(Model.WeighRangeFilter?.ToLocal?.ToString("yyyy-MM-ddTHH:mm") ?? "")" />
        </div>

        <div class="col-auto">
            <button type="submit"
                    class="btn btn-primary">
                Export to PDF
            </button>
            <a asp-action="Index"
               asp-route-inspectionId="@Model.Inspection.Id"
               class="btn btn-secondary">
                Cancel
            </a>
        </div>

    </form>

</div>



@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
   
} *@
