@model TrucksWeighingWebApp.ViewModels.TruckRecordIndexViewModel
@* @model IEnumerable<TrucksWeighingWebApp.Models.TruckRecord> *@

@{
    ViewData["Title"] = Model.Inspection.Vessel;
}

<h1>Index</h1>
<h2>@Model.Inspection.Vessel</h2>

@await Html.PartialAsync("_TruckRecordCreateForm.cshtml", Model.New)


<div class="table-responsive mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Plate Number</th>
                <th>Initial Weight</th>
                <th>Time</th>
                <th>Final Weight</th>
                <th>Time</th>
                <th>Net weight</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 1;
                foreach (var item in Model.Inspection.TruckRecords.OrderBy(x => x.Id))
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.PlateNumber</td>
                        <td>@item.InitialWeight?.ToString("F3")</td>
                        <td>@item.InitialWeightAtUtc?.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>@item.FinalWeight?.ToString("F3")</td>
                        <td>@item.FinalWeightAtUtc?.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>@item.NetWeight.ToString("F3")</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <form asp-action="Delete" method="post" class="d-inline" onsubmit="return confirm('Delete this record');">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.Id"/>
                                <input type="hidden" name="inspectonId" value="@Model.Inspection.Id"/>
                                <button type="submit" class="btn btn-link p-0 align-baseline">Delete</button>
                            </form>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index" asp-controller="Inspections">Back to Inspections</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
