@model IEnumerable<TrucksWeighingWebApp.Models.Inspection>

@{
    ViewData["Title"] = "Index";    
}

<h1>Inspections</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole(RoleNames.Admin))
            {
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser)
                </th>
            }
            
            <th>
                @Html.DisplayNameFor(model => model.Vessel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeclaredTotalWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeZoneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (User.IsInRole(RoleNames.Admin))
            {
                <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                </td>
            }
            
            <td>
                @Html.DisplayFor(modelItem => item.Vessel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @item.DeclaredTotalWeight?.ToString("F3")
                @* @Html.DisplayFor(modelItem => item.DeclaredTotalWeight) *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
            @{
                var tz = TimeZoneInfo.FindSystemTimeZoneById(item.TimeZoneId);
            }
                @tz.DisplayName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
